

#p1{

   color:rgb(0, 255, 0)


}


#p2{
 
   color:rgb(0,0,255)



}



#p3{
  
  color:rgb(255,0,0)
   

}

#p4{

  color:rgb(200, 200, 15)
 

}


#p5{


   color:rgb(233, 132, 0)



}

#p6{

   color:#2EFF00


}

#p7{


    color:#06FF

}


#p8{


    color:#FF001F


}



#p9{

   color:#F7FF00


}



#p10{

   color:#FF9700



}