


:root {
  --Yellow-123: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: Figtree, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 16px;
  flex-direction: column;
  background-color: var(--Yellow-123);  
}

body .container {
  width: 25vw;
  min-height: 60vh;
  background-color: var(--White);
  border: 1px solid black;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.7em;
}

.container svg {
  width: calc(100% - 2em); 
  max-width: 100%; 
  height: auto; 
  margin-top: 1em;
  border-radius: 0.5em;
}

.nbold {
  font-weight: 500;
}

.boold {
  font-weight: 800;
}
.gray {
  color: var(--Gray-500);
}

.words {
  margin: 0 1em;
}

.status {
  display: inline-block;
  margin-top: 1em;
  padding: 0.3rem 0.5rem;
  background-color: var(--Yellow-123);
  border-radius: 0.3rem;
}

.year {
  margin-top: 0.2em;
}

.title {
  font-size: 1.5em;
}

.account {
  display: flex;
  align-items: center;
}

.avatar {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

.attribution {
  margin-top: 1rem;
}

body .attribution {
  justify-content: center;
}

.trans {
  transition-property: color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.trans:hover {
  color: var(--Yellow-123);
}

@media (min-width: 320px) and (max-width: 440px){
  html {
    font-size:32px;
  }

  body .container {
    width: 85vw;
  }
}

@media (min-width: 440px) and (max-width: 650px){
  html {
    font-size: 26px;
  }

  body .container {
    width: 60vw;
  }
}

@media (min-width: 650px) and (max-width: 900px){
  html {
    font-size: 21px;
  }

  body .container {
    width: 45vw;
  }
}

@media (min-width: 900px) and (max-width: 1200px){
  html {
    font-size: 19px;
  }

  body .container {
    width: 32vw;
  }
}