

#p1 {
    font-size: xx-large;
    color:#00FF
}

#p2 {
    font-size: xx-large;
    color: #00FF00;
}

#p3 {
    font-size: xx-large;
    color: #FF0000;
}

#p4 {
    font-size: xx-large;
    color:#F300F0;
}

#p5 {
    font-size: xx-large;
    color: #FFF700;
}