
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div{
    
    height: 100px;
    width: 100px;
    background-color: #008000;
    transition: width 2s, height 0.5s;
    
}

div:hover{
   height:200px;
   width:200px;
}