
*{
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sedans{
  width: 250px;
  height: 370px;
  background-color: rgb(202, 152, 1);
  padding: 20px;
}

.SUVS{
  width: 250px;
  height: 370px;
  background-color: rgb(5, 105, 55);
  padding: 20px;
}

.Luxury{
  width: 330px;
  height: 370px;
  background-color: rgb(4, 62, 42);
  padding: 20px;
}

p{
  color: rgba(244, 247, 244, 0.56);
  align-items: center;

}



h1{
  color: rgb(0, 0, 100,);
}

button.luxury{
  width: 100px;
  height: 30px;
  border-radius: 45%;
  cursor: pointer;
  background-color: rgb(29, 114, 84);
}

button.Suvs{
  width: 100px;
  height: 30px;
  border-radius: 45%;
  cursor: pointer;
  background-color: rgb(78, 197, 157);
}

button.sedans{
  width: 100px;
  height: 30px;
  border-radius: 45%;
  cursor: pointer;
  background-color: rgb(218, 190, 106);
}



button:hover{
  width: 100px;
  height: 30px;
  border-radius: 45%;
  cursor: pointer;
  background-color: rgb(50, 50, 50);
}

p:hover{
  color: black;
  align-items: center;
}