

*{
margin: 0;
padding: 0;
}





body{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}



div{
height: 100px;
width: 100px;
background-color: orange;
animation-name: animation1;
animation-duration: 5s;
animation-timing-function: ease-out;
}





@keyframes animation1{

from{
background-color: orange;
}

to{
    background-color: blue;
}


}
